/* Cấu hình chung */
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(238,75,43);
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 37px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* Thường thì mặc định: font-size 16px => 62.5/100 * 16 = 10px*/
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Cái này dùng để responsive */
.grid {
    /* Khi mà khung tình trình duyệt > 1400 thì thằng sử dụng class này chỉ hiển thị 1400 thôi. 
    Khi mà nhỏ hơn 1200 thì (max-width có tác dung) width là full width trình duyệt */
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    /* Trường hợp này không muốn dử dụng .grid */
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    } to {
        transform: scale(var(--growth-to));
    }
}
/* Modal Layout */
.modal {
    
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to:1;
    margin: auto;
    background-color: var(--white-color);
    z-index: 1; /* Nếu không thì phải set position: relative. để overlay không đè lên body*/
    border-radius: 5px;
    animation: growth linear 0.3s;
}

.btn {
    background-color: var(--white-color);
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 0;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--size-s {
    height: 30px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.1);
}


